In [2]:
import pandas as pd

**Exercise 1: Create a pandas Series from a Python list [10, 20, 30, 40] and print it.**

In [3]:
list1 = [10, 20, 30, 40]
series1 = pd.Series(list1)
series1

0    10
1    20
2    30
3    40
dtype: int64

Exercise 2: Create a pandas Series with custom index labels ['a', 'b', 'c', 'd'] for values [10, 20, 30, 40].

In [4]:
series2 = pd.Series(list1, index=['a', 'b', 'c', 'd'])
series2

a    10
b    20
c    30
d    40
dtype: int64

**Exercise 3. Given a Series s = pd.Series([5, 10, 15, 20], index=['w', 'x', 'y', 'z']), select the value associated with index 'y'.**

In [5]:
s = pd.Series([5, 10, 15, 20], index=['w', 'x', 'y', 'z'])
val = s['y']
val

15

**Exercise 4. Using the same Series s, select all values greater than 10.**

In [7]:
greater = s[s > 10]
greater

y    15
z    20
dtype: int64

**Exercise 5. Create a Series from a dictionary: data = {'apples': 3, 'bananas': 5, 'oranges': 2} and print the number of apples.**

In [9]:
data = {'apples': 3, 'bananas': 5, 'oranges': 2}
dictseries = pd.Series(data)
apples = dictseries.apples
apples

3

**Exercise 6. Given a Series of temperatures: pd.Series([72, 75, 68, 70], index=['Mon', 'Tue', 'Wed', 'Thu']), change the temperature for 'Wed' to 71.**

In [10]:
temps = pd.Series([72, 75, 68, 70], index=['Mon', 'Tue', 'Wed', 'Thu'])
temps.Wed = 71
temps

Mon    72
Tue    75
Wed    71
Thu    70
dtype: int64

In [11]:
import numpy as np

**Exercise 7. Create a Series with NaN values and use isnull() and notnull() to identify missing data.**

In [12]:
temps = pd.Series([np.nan, 75, 68, np.nan], index=['Mon', 'Tue', 'Wed', 'Thu'])
temps.isnull()

Mon     True
Tue    False
Wed    False
Thu     True
dtype: bool

In [13]:
temps.notnull()

Mon    False
Tue     True
Wed     True
Thu    False
dtype: bool

**Exercise 8: Create a Series from a NumPy array of 5 random integers between 1 and 100.**

In [14]:
rands = np.random.randint(1, 100, 5)
randseries = pd.Series(rands)
randseries

0    22
1    28
2    12
3    54
4    46
dtype: int32

**Exercise 9. Given a Series s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), multiply all values by 10.**

In [15]:
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s * 10

a    10
b    20
c    30
d    40
dtype: int64

**Exercise 10. Create two Series with overlapping and non-overlapping indices and add them together. Observe how pandas handles missing values in the result.**

In [16]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([5, 15, 25], index=['b', 'c', 'd'])

s1 + s2

a     NaN
b    25.0
c    45.0
d     NaN
dtype: float64

There is no 'a' value from s2 to add to s1, so that ends up with a nan value, and this is the same with s2's 'd' index