**Built-In Data Structures, Functions, and Files**

**Tuples**

A tuple is a fixed-length immutable sequence of python Objects that which once assigned, cannot be changed

In [1]:
tuple1 = (4, 5, 6)

Most of the time, the parentheses can be removed

In [2]:
tup = 5, [6, 7], 8
type(tup)

tuple

Any sequence or iterator can become a tuple by using tuple

In [3]:
type(tuple([5, 6, 7]))

tuple

Individual elements in tuples can be accessed using square brackets

In [4]:
tup[0]

5

The tuple itself is immutable, buit the elements inside it are not

In [5]:
tup[1].append(4)
tup

(5, [6, 7, 4], 8)

You can concatenate, or add tuples together

In [6]:
tuple1 + tup

(4, 5, 6, 5, [6, 7, 4], 8)

Unpacking Tuples

In [7]:
tup = (4, 5, 6)
a, b, c = tup
a

4

Tuple Methods

In [8]:
tup.count(4)

1

**Lists**

In [9]:
list1 = [1, 2, 3, '4']

You can navigate lists in the same way as tuples

In [10]:
list1[0]

1

You can use *list()* to convert many structures into lists

In [11]:
gen = range(1, 10)
gen

range(1, 10)

In [12]:
gen = list(gen)
gen

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Adding and removing elements

*.append()* just adds the specified element to the end of the list/data structure

In [13]:
list1.append(5)
list1

[1, 2, 3, '4', 5]

*.insert()* is used to add an element to a specific place in the list, and this uses indexes, but this can be time intensive in some cases

In [14]:
list1.insert(1, "insertedto2nd")
list1

[1, 'insertedto2nd', 2, 3, '4', 5]

The opposite of insert is *.pop()*, and it removes and returns an element at a specific index

In [15]:
list1.pop(1)

'insertedto2nd'

In [16]:
x = list1.pop(1)
x

2

In [17]:
list1

[1, 3, '4', 5]

In [18]:
#To get the list back for further work: 
list1 = [1, 2, 3, 4]

**Concatenating/Combining Lists**

In [19]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

If a list is already defined, multiple elements can be added to it using *.extend()*

In [20]:
list1.extend([9, 7, 5, 8, 6])
list1

[1, 2, 3, 4, 9, 7, 5, 8, 6]

Lists can be sorted in place using *.sort()*, without making an entirely new list

In [21]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

However the *.sort()* function has a few different secondary sort keys that can be passed for different results

In [22]:
b = ['small', 'saw', 'tonight', 'he', 'foxes', 'six']
b.sort(key=len)
b

['he', 'saw', 'six', 'small', 'foxes', 'tonight']

**Slicing**

You can use slicing to select sections of most data types

In [23]:
seq = [1, 2, 3, 4, 5, 6, 7, 8]
seq[0:5]

[1, 2, 3, 4, 5]

You can also use slicing to assign values to sequences

In [24]:
seq[0:5] = [5, 4, 3, 2, 1]
seq

[5, 4, 3, 2, 1, 6, 7, 8]

A step can be used in slicing , and some examples are getting every other element

In [25]:
seq[::2]

[5, 3, 1, 7]

or reversing the list entirely

In [26]:
seq[::-1]

[8, 7, 6, 1, 2, 3, 4, 5]

**Dictionaries**

In [27]:
empty_dict = {}
dict1 = {'a' : 'a value', "b" : [1, 2, 3, 4, 5]}
dict1

{'a': 'a value', 'b': [1, 2, 3, 4, 5]}

Dictionary elements can be inserted, accessed, or set in a similar way of a list or tuple

In [28]:
dict1[7] = 'An Integer'
dict1

{'a': 'a value', 'b': [1, 2, 3, 4, 5], 7: 'An Integer'}

In [29]:
dict1[7]

'An Integer'

You can check if a dictionary has a key using the same syntax as which of checking whether a list or tuple contains an element

In [30]:
'b' in dict1

True

Values can be deleted using the **del** keyword

In [31]:
del(dict1[7])
dict1

{'a': 'a value', 'b': [1, 2, 3, 4, 5]}

The *.keys()* and the *.values()* methods give you the keys and values of the dictionary in an iterable format

In [32]:
list(dict1.keys())

['a', 'b']

In [33]:
list(dict1.values())

['a value', [1, 2, 3, 4, 5]]

Both the keys and values can be iterated over using the *.items()* method

In [34]:
list(dict1.items())

[('a', 'a value'), ('b', [1, 2, 3, 4, 5])]

Dictionaries can be merged using the *.update()* method

In [35]:
dict1.update({'d' : 'valued', 's' : 'values'})
dict1

{'a': 'a value', 'b': [1, 2, 3, 4, 5], 'd': 'valued', 's': 'values'}

Creating dictionaries from sequences

In [36]:
#This block is an example of how it works
mapping = {} 
key_list = []
value_list = []
for key, value in zip(key_list, value_list):
    mapping[key]  = value

The *zip* method takes in 2 eleements and combines them into a two-tuple

In [37]:
value = dict1.get(key, default_value=0)

NameError: name 'key' is not defined

If the *key* is not in the dictionary, usually the variable would get a value of none. To counter this you can use a *default value* which will be returned if the key does not exist, and you can also use *.setdefault()*

If the value is not there in pop, then it will raise an error so that is to be kept in mind

**Sets**

A set is an unordered collection of unique elements, so there will not be any duplicates

In [ ]:
set([1, 2, 3, 3, 2, 1, 2, 3])

{1, 2, 3}

Sets have many operations, like *union*, *intersection*, *difference*, and *symmetric difference*

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

Union:
These are the unique elements in both sets

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

#Can also be done by using:
a | b

In [ ]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

**Basic Python Set Operations**

In [ ]:
x = 0

In [ ]:
#Adding an element to set a
a.add(x)

In [ ]:
#Removing all elements from a set and making it empty
a.clear()

In [ ]:
#Removing x from set a
a.remove(x)

In [ ]:
#Removes an abritrary, or random element from set a
a.pop()

0

*ar·bi·trar·y ˈärbəˌtrerē/ adjective, based on random choice or personal whim, rather than any reason or system.*

In [ ]:
#Gets all the unique elements fromn a and b\
a.union(b)
#Alternative syntax:
a | b

{3, 4, 5, 6, 7, 8}

**Built-In Sequence Functions**

*.enumerate()* is used for enumerating through a sequence, and is used when you want to keep track of the index of each item

In [ ]:
alist = [3, 5, 1, 9, 6, 0]
for index, value in enumerate(alist):
    print(f"Index : {index}, Value : {value}")

Index : 0, Value : 3
Index : 1, Value : 5
Index : 2, Value : 1
Index : 3, Value : 9
Index : 4, Value : 6
Index : 5, Value : 0

*sorted()* is used to return a list of sorted elements, and it accepts the same methods used in sort

In [ ]:
sorted([1, 7, 4, 9, 2, 5, 7, 4])

[1, 2, 4, 4, 5, 7, 7, 9]

:

*zip()* takes in 2 elements and combines them into a two-tuple

In [ ]:
seq1 = []
seq2