**Functions**

In [128]:
def myfunction(x, y):
    return x + y

print(myfunction(1,1))

2

A function doesn't need to have a *return* statement

In [129]:
def no_return_function(x, y):
    print(x + y)
no_return_function(1, 1)

2

Functions can have optional parameters

In [130]:
def greet_person(name, greeting="Hello"):
    return f"{greeting} {name}"

greet_person("jim")

'Hello jim'

In [131]:
greet_person("jim", "Hi")

'Hi jim'

Even though it is not necessary, it is good practice to specify the optional arguments

In [132]:
greet_person("Jim", greeting="Hey")

'Hey Jim'

**Namespaces, Scope and Local Functions**

When the func() function is called, the list 'a' is created, and has 0-4 appended to it, and after the function is done running, the list is destroyed

In [133]:
def func():
    a = []
    for i in range(5):
        a.append(i)

But in this case, 'a' is already created, so the function just modifies that list

In [134]:
a = []

In [135]:
def func():
    for i in range(5):
        a.append(i)
func()
a

[0, 1, 2, 3, 4]

**Returning Multiple Values**

You can return multiple values the same way you would return a single value

In [136]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()
a

5

Also, you can assign a variable to a function with multiple return values, and this will create a tuple with the return values inside

In [137]:

return_value = f()
return_value

(5, 6, 7)

You can also potentially adjust the syntax to return different data types, in this case a dictionary

In [138]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
returned_dict = f()
returned_dict

{'a': 5, 'b': 6, 'c': 7}

**Lambda Functions**

Lambda functions are a way of writing functions using only a single line, and the result of it is the return value

In [139]:
def short_function(x):
    return x * 2

In [140]:
equivalent_function = lambda x : x * 2

In [141]:
result = equivalent_function(5)
result

10

In [142]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]

squared = apply_to_list(ints, lambda x: x **2)
squared

[16, 0, 1, 25, 36]

**Generators**

Objects are made iterable by using the iterator protocol, for example, iterating through a dictionary would yield the dictionary's keys

In [143]:
dict = {'a' : 1, 'b' : 2, 'c' : 3}
for key in dict:
    print(key)

a
b
c

When '*for key in dict*' is written, the python interpretor first tries to create an iterator out of dict

In [144]:
dict_iterator = iter(dict)
dict_iterator

An *iterator* is just any object that will yield objects to the python interpreter. You can use built in methods on iterators, like *min(), max()* and *sum()*. You can also use type constructors like *list* and *tuple*

In [145]:
list(dict_iterator)

['a', 'b', 'c']

A *generator*  in some ways is similar to writing a function, in the way that its purpose is to create a new iterable object.
Whereas normal functions execute and return single values, generators return sequences of multiple values by pausing and resuming the execution of the process every time the generator is used

You can create a generator by using *yield* instead of *return* in a function

In [146]:
def squares(n=10):
    print(f"Returning squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield  i ** 2

When the generator is called, no code is actually executed

In [147]:
gen = squares()
gen

But, you actually need to request elements from the generator for the code to be executed

In [148]:
for x in gen:
    print(x, end=" ")

Returning squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

Note: Since generators output one element at a time instead of outputting a whole list, generators can help save on memory

**Generator Expressions**: Another way to make generators

In [149]:
gen = (x ** 2 for x in range(100))
gen

This is equivalent to:

In [150]:
def make_gen():
    for x in range(100):
        yield x**2
gen = make_gen()

**Itertools Module**

The standard library *itertools* has a collection of generators that are used for many common data algos

In the below code snippet, *groupby* takes a sequence and a function, and groups consecutive elements in the sequence based on the return value of the function

In [152]:
import itertools

def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

**Errors and Exception Handling**

In the below code, the function will try to return the variable x as a float, but if that fails, then it will just return x

In [153]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
attempt_float('1.2345667')

1.2345667

In [154]:
attempt_float('number')

'number'

In the above code snippet, the function was not able to turn the string, 'number' into a float, so it just returned 'number'

In [156]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

But, float can raise other exceptions than ValueError, and in this case it raises TypeError

In [158]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

This can be solved by using a tuple of exception types instead of a single exception. This allows for catching multiple errors

In [159]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In some cases, you might not need to suppress an exception, but instead want some code to be ran regardless if the code in the try block passes

In [160]:
f = open(path, mode='w')
try:
    write_to_file(f)
finally:
    f.close()

NameError: name 'path' is not defined

In the above code, the file *f* will always end up getting closed.(That and the bottom code are dummy blocks of code)

In [ ]:
f = open(path, mode='w')
try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Successful")
finally:
    f.close()

In the above code, the code is only executed if the *try:* block succeeds. This is done using *else*