**Exercise 1: Import NumPy as np and create a 1D NumPy array with values from 0 to 9.**

In [2]:
import numpy as np
array1d = np.arange(10)
array1d

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

**Exercise 2: Create a 2D NumPy array of shape (3, 3) filled with ones.**

In [4]:
onesarray = np.ones((3, 3))
onesarray

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [5]:
onesarray.shape

(3, 3)

**Exercise 3: Create a NumPy array with values from 0 to 20, step 2.**

In [7]:
zeroto20 = np.arange(21, step=2)
zeroto20

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

**Exercise 4: Create a NumPy array of 5 random numbers between 0 and 1 using np.random.rand().**

In [9]:
rands = np.random.rand(5)
rands

array([0.99217268, 0.6855996 , 0.50967108, 0.97557169, 0.8213849 ])

**Exercise 5: Create a 4x4 identity matrix using np.eye().**

In [10]:
idenmatrix = np.eye(4, 4, dtype=np.int32)
idenmatrix

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

**Exercise 6: Given arr = np.array([1, 2, 3, 4, 5]), multiply every element by 2 using vectorized operations.**

In [11]:
arr = np.array([1, 2, 3, 4, 5])
arr * 2

array([ 2,  4,  6,  8, 10])

**Exercise 7: Create an array with 10 equally spaced numbers between 0 and 5 using np.linspace().**

In [14]:
spaced_array = np.linspace(0, 5, num = 10)
spaced_array

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

**Exercise 8: Given a 2D array, print its shape, size, and data type.**

In [15]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
arr.shape

(2, 5)

In [16]:
arr.size

10

In [17]:
arr.dtype

dtype('int32')

**Exercise 9: Create an array of 10 random integers between 1 and 100 using np.random.randint().**

In [19]:
rands10 = np.random.randint(1, 100, dtype=np.int32, size=10)
rands10

array([72,  6, 34, 81, 44, 84, 38, 58, 49, 78])

**Exercise 10: Reshape a 1D array of size 12 into a 3x4 2D array.**

In [22]:
arr = np.arange(12)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [23]:
arr.reshape((3, 4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])